.info-icon
    position: fixed
    top: 0
    right: 0
    margin: 10px
    border: 2px solid black
    border-radius: 50%
    width: 30px
    height: 30px
    display: flex
    align-items: center
    justify-content: center

    p
        margin: 0
        font-size: 20px

.info-backdrop
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    opacity: 75%
    background-color: black
    z-index: 100

.info-box
    z-index: 101
    position: fixed
    left: 50vw
    top: 50vh
    padding: 20px
    width: 50vw
    transform: translate(-50%, -50%)
    opacity: 100%
    background-color: white
    display: flex
    align-items: center
    flex-direction: column

    .icon-source
        font-size: 10px
        color: grey

    .exit
        position: absolute
        top: 10px
        left: 10px
        margin: 0
        width: 30px
        height: 30px
