.splash-screen
    position: absolute
    width: 100vw
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    background-color: red
    flex-direction: column
    transition: top 0.5s ease 1s
    top: 0
    z-index: 100

    *
        text-align: center
        color: white
        max-width: 80vw
