.splash-screen
    position: absolute
    width: 100vw
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    background-color: red
    flex-direction: column
    top: 0
    z-index: 100

    *
        text-align: center
        color: white
        max-width: 80vw

    .explore-container
        height: 100px
        display: flex
        justify-content: center
        align-items: center

.top-enter
    top: -100vh

    &-active
        top: 0
        transition: top 500ms
    &-done
        top: 0

.top-exit
    top: 0

    &-active
        top: -100vh
        transition: top 500ms
    &-done
        top: -100vh
