@font-face
    font-family: 'Roboto'
    src: url('../public/assets/font/Roboto/Roboto-Light.ttf')
    font-weight: normal

@font-face
    font-family: 'Roboto'
    src: url('../public/assets/font/Roboto/Roboto-Medium.ttf')
    font-weight: bold

*
    font-family: 'Roboto', sans-serif
    font-weight: normal
    user-select: none

body
    margin: 0
